@import "tailwindcss";

:root {
  --background: white;
  --secondary-background: white;
  --foreground: black;
  --accent: black;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  padding: 10vh 2rem;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  align-items: flex-start;
}

body > * {
  padding-left: 2vw;
  padding-right: 2vw;
  min-width: 8vw;
}


a {
  color: magenta;
  font-style: italic;
}

.title {
  grid-column: 2 / 3;
  grid-row: 1;
  text-align: right;
}

.title > header {
  font-size: 3rem;
  line-height: .8;
  font-weight: 700;
  min-width: 12vw;
}

.navbar {
  grid-column: 4 / 5;
  display: flex;
}

.navbar > * {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.content {
  /*padding-top: 6vh;*/
  grid-column: 6 / 10;
  grid-row: 1;
}

.content > * {
  text-wrap: wrap;
}

.header {
  color: var(--foreground);
  font-style: revert;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  padding-bottom: 1rem;
}

.header-focused {
  color: var(--foreground);
  font-style: revert;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 550;
  padding-bottom: 1rem;
}

.sub-header {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  padding-bottom: 1rem;
}

.sub-header-focused {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  padding-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 550;
  padding-bottom: 1rem;
}

p {
  font-size: 1rem;
}

li {
  margin-left: 3vh;
}
h2 {
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 4vh;
}
img {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.Portfolio {
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  justify-self: end;
  width: auto;
}

.Portfolio > a
{
  padding-bottom: 2vh;
  font-size: 1.6rem;
}

.row {
  padding-top: 2vh;
  display: flex;
}

.col {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.col > * {
  padding-bottom: 2vw;
}

/* Responsive breakpoint - adjust the pixel value as needed */
@media (max-width: 550px) {
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*align-items: stretch;*/
    padding-top: 8vw;
    width: 100vw;
    height: 100vh;
    margin-bottom: 8vw;
  }

  body > * {
    padding-left: 2vw;
    padding-right: 2vw;
    min-width: 8vw;
    height: fit-content;
  }

  .title {
    display: flex;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-bottom: 2rem;
    flex-direction: column;
    width: 100%;
  }
  .title > header {
    display: flex;
    font-size: 2rem;
  }

  .title > header {
    text-align: right;
  }

  .navbar {
    display: flex;
    grid-column: 6 / 7;
    grid-row: 1 / 1;
    margin-bottom: 2rem;
    justify-self: end;
    width: auto;
  }

  .navbar > * {
    text-align: right;
  }

  .content {
    padding-top: 6vh;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding-bottom: 8vw;
  }

  .header {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    padding-bottom: .5rem;
  }

  .header-focused {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 550;
    padding-bottom: .5rem;
  }

  .sub-header {
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  .sub-header-focused {
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 1rem;
  }

  .Portfolio {
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-self: end;
    width: auto;
  }

  .Portfolio > a
  {
    padding-bottom: 2vh;
    font-size: 1.6rem;
  }
}
